/* App.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.App-header {
  background-color: rgb(47, 101, 208);
  padding: 20px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.App-header1 {
  background-color: white;
  padding: 50px;
  color: rgb(9, 7, 7);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  text-align: Left;
  width: 80%;
  border-radius: 10px;
  border: 5px solid #d3d3dd;
  margin-top: 50px;
  margin-left: 30px;
  margin-bottom: 50px;
}

/* Search Component */
.search-bar {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
}    

.search-bar input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: #ffffff;
  transition: background-color 0.3s ease-in-out;
}

.search-bar input:focus {
  outline: none;
  background-color: #ffffff;
}

.search-icon {
  font-size: 1.2rem;
  margin-right: 10px;
  color: #6cc24a;
}

/* Product Display */
.product-list {
  flex: 2;
  display: flex;
  gap: 10px;
}

.product {
  display: block;
  background-color: white;
  border-radius: 10%;
  padding: 10px 60px;
  text-align: center;
  width: 33%;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.product:hover {
  transform: translateY(-5px) scale(1.03);
}

.product img {
  max-width: 150px;
  /* Increased image size */
  height: auto;
  margin-bottom: 10px;
  border-radius: 50%;
  box-shadow: 0px 6px 12px rgba(217, 207, 207, 0.2);
  /* Enhanced box shadow */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  /* Added box shadow transition */
}

.product:hover img {
  transform: scale(1.1);
  z-index: 1;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
  /* Enhanced box shadow on hover */
}

.product h2 {
  font-size: 1.5rem;
  margin: 10px 0;
  color: #323754;
}

.product p {
  font-size: 1.2rem;
  color: #777;
  margin: 5px 0;
}

/* Cart Checkout */
.cart {
  flex: 10;
  display: block;
  width: 30%;
  margin-left: 35%;
  min-width: 10px;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: white;
  border: 5px solid #d3d3dd;
  border-radius: 10px;
  padding: 0px 0px;
  box-shadow: 0px 10px 20px rgba(249, 247, 247, 0.1);
  top: 0px;
}



.cart.active {
  display: block;
  width: 50%;
  margin-left: 5%;
  margin-top: -33%;
}

.cart h2 {
  font-size: 1.8rem;
  color: #323754;
  margin-top: 0;
  text-align: center;
}



.cart-summary h2 {
  font-size: 1.8rem;
  color: #323754;
  margin-top: 0;
  text-align: center;
}

.cart ul {
  list-style: none;
  padding: 10;
  margin: 0;
}

.cart-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  margin: 15px 0;
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
}

.cart-item .item-image img {
  max-width: 120px;
  height: auto;
  margin-right: 20px;
  border-radius: 50%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.cart-item .item-image img:hover {
  transform: scale(1.1);
}

.cart-item .item-details {
  flex: 1;
  display: inline;
 
}

.cart-item .item-promo {
  flex: 1;
  display: inline;
 
}
.item-promo {
  flex: 1;
  display: inline;
  color:#22c3bb;
}

.cart-item h3 {
  display: inline;
  font-size: 1.4rem;
  margin: 0;
  color: #323754;
}

.cart-item p {
  /*
  font-size: 1.1rem;
  color: #777;
  margin: 1px 0;
  */
}

.cart-item .item-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cart-item .item-actions button {
  background-color: white;
  border: none;
  color: rgb(8, 7, 7);
  padding: 8px 15px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  font-size: 1rem;
  margin-left: 15px;

}


.offer-cart{
  font-size: 0.9rem;
  margin: 10px 0;
  margin-left: 0px;
  color: #1E90FF;
  font-style: italic;
}

.offer-cart1  {
  background-color: white;
  color: rgb(8, 3, 3);
  font-size: 1.4rem;
  text-align: center;
  margin-top: 20px;
  border-bottom: 0px solid #e0e0e0;
}

.offer-new {
  color: rgb(15, 14, 14);
  font-size: 1.4rem;
  text-align: center;
  
}


.cart-item .quantity {
  display: flex;
  flex-direction: row;
  margin-left: 50px;
  font-size: 1rem;
  color: rgb(8, 7, 7);
  padding: 10px 10px;
  border: 1px solid #0c0c12;
  border-radius: 10px;
  padding: 0px 15px; 
  
}

.total {
  font-size: 1.3rem;
  margin: 10px 10;
  text-align: left;
  margin-top: 0px;
  margin-right: 10px;
  margin-bottom: 40px;
  padding: 0px 5px; 
  color: #323754;
  justify-content: space-between;
  width: 100%;
}
.cart-summary.totalValue {
  font-size: 1.3rem;
  margin: 10px 10;
  text-align: right;
  margin-top: 0px;
  margin-right: 10px;
  margin-bottom: 40px;
  padding: 0px 5px; 
  color: #323754;
  justify-content: space-between;
  width: 100%;
}



.pricelist {
  text-align: center;
  color: #323754;
  justify-content: space-between;
}

.checkout-button {
  background-color:  rgb(47, 101, 208);
  border: 5px solid #000104;;
  color: white;
  padding: 10px 1px;
  border-radius: 10px;
  align-items: center;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  font-size: 1.5rem;
  float: center;
}

.checkout-button:hover {
  background-color: #1da71d;
}


.no-results,
.empty-cart {
  flex: 10;
  flex-direction: column;
  display: flex;
  margin-right: 3%;
  margin-left: 5%;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  color: #777;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 10px;
  padding: 0px 15px;
}

.add-to-cart-button {
  background-color: rgb(47, 101, 208);
  border: none;
  color: white;
  padding: 12px 15px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  font-size: 1rem;
}

.add-to-cart-button:hover {
  background-color: rgb(47, 101, 208);
}

.remove-button {
  background-color: #0b0b0a;
  border: none;
  color: white;
  padding: 8px 15px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  font-size: 1rem;
}



.item-info {
  display: flex;
  flex-direction: row;
}

.item-details .offer-cart p {
  margin-top: 1%;
  color:#22c3bb
}

.item-actions .quantity p {
  margin: 5% 5%;
}

.checkout-section {
  font-size: 1.2rem;
  float: right;
  margin: 0;
}



.cart-summary {
  flex: 10;
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 40%;
  border-radius: 10px;
  border: 5px solid #d3d3dd;
  padding: 5px;
  margin-top: 40px;
  margin-left: 900px;
  justify-content: space-between;
}

.Login {
  background-color:  rgb(47, 101, 208);
  border: 2px solid #0c0c12;
  border-radius: 10px;
  margin-right: 1300px;
}

.item {
  background-color: rgb(237, 238, 242);
  justify-content: space-between;
  border: 2px solid #0c0c12;
  border-radius: 10px;
  margin-left: 30px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}


.Login2 {
  background-color: rgb(47, 101, 208);
  border: 2px solid #0c0c12;
  border-radius: 10px;
  margin-left: 10px;
}

.cart-item .popup-message button {
  background-color: white;
  border: none;
  color: rgb(47, 101, 208);
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  font-size: 1rem;
}

.popup-message {
  color: white;
  padding: 8px 15px;
  border-radius: 20px;
  
  
  
}

.info-circle-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color:  rgba(14, 14, 15, 0.971);
  color: white;
  cursor: pointer;
}